<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>CRUD Nodejs y MongoDb</title>
    <a href="index.html"></a> 
    <link rel="stylesheet" type="text/css" 
		href="C:\Users\dell\Desktop\express-mongodb-crud-master\src\views\css/style.css">
    <!-- BOOTSTRAP CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
  </head>
  <body background="http://4everstatic.com/imagenes/otros/fondo-verde-157171.jpg"> 

  <img src="https://cruzverde.com.gt/wp-content/uploads/2017/02/logo.png" alt="cruz">
  <br></br>
